* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
  color: white;
}

main {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgb(26, 26, 26),
    rgb(35, 35, 35),
    black
  );
  padding: 20px;
}

section {
  height: 100%;
  width: 350px;
  background-color: black;
  border-radius: 10px;
  margin: auto;
}

.all-reels {
  height: 100%;
  width: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.all-reels::-webkit-scrollbar {
  display: none;
}

.reel {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: lightseagreen;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.reel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.reel video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.reel .bottom {
  padding: 30px 20px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.948));
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottom .user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.bottom .user h4 {
  font-size: 15px;
  font-weight: 500;
}
.bottom .user button {
  background-color: transparent;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid white;
  color: white;
}
.bottom > h3 {
  font-weight: 500;
  font-size: 20px;
}
.bottom .user img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.right {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  width: 40px;
  position: absolute;
  bottom: 12%;
  right: 0;
}
.rigth i {
  font-size: 25px;
  font-weight: 500;
}
.right h4 {
  cursor: pointer;
}
.right h6 {
  font-size: 18px;
  font-weight: 500;
}
.right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
