@import "./stylesheets/form-container/formContainer";
@import "./stylesheets/note-container/noteContainer";

:root {
  --accent-color: rgb(82, 81, 81);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Calibri;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: white;
}

body {
  .form-container {
    @include formContainer-style();
    user-select: none;
  }

  .note-container {
    @include noteContainer-style();
    display: none;
    user-select: none;
  }
}
