@mixin btn-style() {
  padding: 10px 22px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(14, 110, 83);
  color: white;
  font-size: 15px;
  cursor: pointer;
  will-change: scale;
  transition: 0.3s ease;
  &:hover {
    background-color: rgb(14, 68, 53);
  }
  &:active {
    scale: 0.9;
  }
}
