@import "./button";
@import "./input";

@mixin form-style() {
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  div {
    width: 50%;

    input {
      @include input-style();
    }

    small{
      display: block;
      margin-top: 10px;
      color: rgb(202, 41, 41);
    }
  }

  input[type="submit"] {
    margin-top: 15px;
  }

  #btn {
    @include btn-style();
  }
}
