@mixin controls-style() {
  height: 35vh;
  width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;

  .control {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    &:hover {
      box-shadow: 0 0px 10px 1px var(--accent-color);
      background-color: var(--accent-color);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
