@import "./controls";
@import "./cardContainer";
@import "./themeChanger";
@import "../universals/flex";

@mixin formContainer-style() {
  height: 100vh;
  width: 100%;
  @include flex-style($gap: 1.5rem);

  .controls {
    @include controls-style();
  }

  .card-container {
    @include cardContainer-style();
  }

  .theme-changer {
    @include themeChanger-style();
  }
}
