@mixin flex-style($content: center, $align: center, $gap: 0, $direction: row){
    display: flex;
    justify-content: $content;
    align-items: $align;
    gap: $gap;
    flex-direction: $direction
}